.idea
.DS_Store
.env
.netlify
.redwood
dev.db*
dist
dist-babel
node_modules
yarn-error.log
web/public/mockServiceWorker.js
web/types/graphql.d.ts
api/types/graphql.d.ts
api/src/lib/generateGraphiQLHeader.*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
apis/api/prisma/client/*
obj
bin
apis/Horizen.WebApi/appsettings.Development.json
apps/Horizen.ProductScraper/downloads/*
apps/Horizen.DataSprout/appsettings.Development.json
apps/Horizen.ProductScraper/appsettings.Development.json
apis/Horizen.WebApi/generated-schema.graphql
apps/web/src/graphql/generated/*
